<body>

<h1>{{dumTitle}}</h1>


<div style="width: 200px; height: 200px; margin: 0, auto; padding: 1; position: relative;">
  <img style="width: 150px; height: 150px; position: relative;"  [src]="imageUrl">
</div>


<ol>
    <h3>{{oneTitle}}</h3>
    <li><div [innerHTML]="article1"></div></li>
    <h3>{{twoTitle}}</h3>
    <li><div [innerHTML]="article2"></div></li>
    <h3>{{threeTitle}}</h3>
    <li><div [innerHTML]="article3"></div></li>
    <h3>{{fourTitle}}</h3>
    <li><div [innerHTML]="article4"></div></li>
    <h3>{{fiveTitle}}</h3>
    <li><div [innerHTML]="article5"></div></li>
    <h3>{{sixTitle}}</h3>
    <li><div [innerHTML]="article6"></div></li>
  <ol>

    <p>파일 다운로드<a [href]="fileUrl" download="downloaded-filename">파일 다운로드</a></p>
    <p>편집하기<a (click)="UpdateProcess()" >편집 창으로</a></p>
    <p>문서 삭제하기 <a (click)="deleteProcess()">관리저 창으로</a></p>
    <p>돌아가기<a  (click)="BackProcess()" >메인 화면으로</a></p>
