
<body>

    <div style="width: 300px;">
        <h3>{{dumTitle}}</h3>

    </div>
    <ol>
        <li> <textarea cols="max" [(ngModel)]="article1" name="article1"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
        <li><textarea cols="max" [(ngModel)]="article2" name="article2"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
        <li><textarea cols="max"  [(ngModel)]="article3" name="article3"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
        <li><textarea cols="max"  [(ngModel)]="article4" name="article4"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
        <li><textarea cols="max"  [(ngModel)]="article5"name="article5"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
        <li><textarea cols="max"  [(ngModel)]="article6"name="article6"style="border-radius:6px; height: 380px" class="w-100 p-3" splaceholder="검색하고 싶은 내용을 압력해주세요." aria-label="검색하고 싶은 내용을 압력해주세요." aria-describedby="button-addon2"></textarea></li>
      <ol>
        

<blockquote (click)="backProcess()"> 메인 화면으로 돌아가기 </blockquote>
<blockquote (click)="upDateProcess()"> 글을 수정하기 </blockquote>
